@font-face {
    font-family: 'PDMS_Saleem';
    src: url('PDMS_Saleem.ttf');
}


.list-view .check-box-list-cell .text{
    -fx-font-family: "Arabic Typesetting";
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

.combo-box .text{
    -fx-font-family: "Arabic Typesetting";
    -fx-font-size: 20pt;
}

.tree-view .tree-cell .text {
    -fx-font-family: "Arabic Typesetting";
    -fx-font-size: 20pt;
}

.table-view .table-cell .text {
    -fx-font-family: "Arabic Typesetting";
    -fx-font-size: 20pt;
}